.App {
  max-width: 728px;
  margin: 0 auto;
  text-align: center;
}

.message-item {
  margin: 5px;
  width: 100%;
  color: blue;
  outline: red;
  background-color: lightgrey;
}

input {
  margin: 5px;
  height: 20px;
  width: 95%;
  color: #61dafb;
}

.send-form {
  position: absolute;
  bottom: 10px;
  width: 100%;
}